.main_div {
  background-color: rgba(90, 7, 7, 0.193);
  padding: 5vh 0;
  color: rgb(75, 61, 61);
  text-transform: capitalize;
}

.main_div h3 {
  margin-left: 10%;
  font-size: 30px;
  letter-spacing: 1px;
}

.main_div a {
  text-decoration: none;
  color: rgb(169, 108, 108);
}
