.about_info {
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  gap: 80px;
}

.about_info img {
  height: 500px;
  width: 100%;
  border-radius: 5px;
}

.text_info {
  margin-top: -5vh;
}

.text_info h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.text_info p {
  letter-spacing: 1px;
  line-height: 30px;
}

@media screen and (max-width: 1000px) {
  .about_info {
    display: flex;
    flex-direction: column;
  }
}
