.footer_container {
  background-color: #000;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding: 1% 0;
  width: 100%;
}

.footer_container span {
  color: rgb(169, 108, 108);
}

@media screen and (min-width: 1000px) {
  .footer_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
